
// main colors;
$light-shade:#f3f4f5;
$light-accent:#c7cfbb;
$brand-color:#93A98A;
$brand-color-50: rgba(147, 169, 138, 0.31);
$dark-accent: #7a8a6a;
$dark-shade:#1e220a;



$color-primary	: $brand-color;
$color-primary-50	: $brand-color-50;
$color-accent	: $light-accent;
$color-background:	#fff;
$color-background-invert: $brand-color;
$color-text	: $dark-shade;
$color-text-weak: $dark-accent;